
@{
    ViewData["Title"] = "ContactUs";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@*Body*@
<center>
    <div class="mt-3 p-5">
        <h1>Hello From Contact US Page</h1>
    </div>
</center>


@*Body*@